.mainBox {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
 

}.pageBorder{
  position: relative;
  top: -250%;
  left: -500%;
  z-index: 0;
}.pageBackground {
  position: absolute;
  
  top: 10%;
  left: 72%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 860px;
  height: 400px;
 
  z-index: 100;
}.titleHomePage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  position: absolute;
  left: 65%;
}.gameTitle {
  position: absolute;
  top: 50px;
  font-family: titleFont;
  font-size: 100px;
  font-weight: bolder;
  
  background-clip: text;
  color: transparent;

}#secondTitle {
  top: 150px;

}#thirdTitle {
  top: 250px;
}



.startButton,.optionButton,.quitButton {
  display: flex;
  position: absolute;
  bottom: 60%;
  left: 7%;
  font-size: 40px;
  font-family: textFont;
  border: none;
  background: none;
  cursor: url('../MyFirstBaseTextGame/curser/clickCurser.png'), auto;
  letter-spacing: 5px;
  background-image: linear-gradient(50deg, #f1bc76, #9e3f00);
  background-clip: text;
  color: transparent;

}.optionButton {
  bottom: 41%;
  left: 7%;
}.quitButton{
  bottom: 22%;
  left: 7%;
}